/******************************************************************
    reset
******************************************************************/
* {margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif; list-style-type: none; color: whitesmoke;}


$contentColor: rgba(255, 192, 192, 0.5); // 글자 및 이펙트 컬러
$backColor: rgba(255,255,255,0.2);// 컨텐츠 배경 컬러

/******************************************************************
    프로그램카드 속성(float값,height값)
******************************************************************/
@mixin festivalIntro($floatValue) {
    display: inline-block;
    background-color: $backColor;
    width: 560px;
    overflow: hidden;
    float: $floatValue;
    transition: box-shadow 0.5s;
    padding-bottom: 50px;
    border-radius: 20px;

    img {
        width: 100%;
    }

    h3,h4,p {
        width: 90%;
        margin: 0 auto;
    }

    h3 {
        margin-top: 50px;
    }

    a {
        color: powderblue;
    }
}

/******************************************************************
    프로그램카드:호버 속성
******************************************************************/
@mixin festivalIntroHover {
    box-shadow: 0 0 30px $contentColor;
    color: $contentColor;
    font: {
        weight: bold;
    }
}

/******************************************************************
    body 시작
******************************************************************/
html, body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    a {
        text-decoration: none;
        color: whitesmoke;
    }
    color: whitesmoke;

/******************************************************************
    myHead 시작 ( 상단 고정메뉴 )
******************************************************************/
    .videoWrap {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: fixed;
        
        video {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    .myHeadWrap {
        width: 100%;
        height: 100px;
        background: rgba(100,100,100,0.1);
        position: fixed;
        z-index: 999;

        .myHead {
            width: 1200px;
            height: 100px;
            margin: 0 auto;
            position: relative;

            .headLogo {
                display: inline-block;
                position: absolute;
                top: -150%;
                width: 360px;
                height: 360px;
                text-align: center;
                background-image: url("./img/moon4.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover; 
                border-radius: 50%;
                box-shadow: 0 0 30px silver;
                transition: all 1s;

                img {
                    position: absolute;
                    width: 50%;
                    top: 65%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    transition: top 1s;
                }
            }

            .headLogo:hover {
                box-shadow: 0 0 130px white;
                top: 0;

                img {
                    top:50%
                }
            }

            ul {
                display: inline-block;
                width: 90%;
                height: 100%;
                float: right;

                li {
                    display: inline-block;
                    width: 20%;
                    height: 100%;
                    float: left;
                    text-align: center;
                    line-height: 99px;
                    font: {
                        size: 22px;
                    }
                    transition: all 1s;
                }

                li:hover {
                    background-color: rgb(168, 124, 131);
                    padding-top: 50px;
                    font: {
                        weight: bold;
                    }
                }
            }
        }
    }
/******************************************************************
myHead 종료
******************************************************************/

/******************************************************************
    myContainer 시작
******************************************************************/
    .myContainer {
        width: 1200px;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);

/******************************************************************
    mainContent 시작 ( youtube영상 및 리스트 )
******************************************************************/
        .mainContent {
            z-index: 100;
            width: 100%;
            height: 1100px;

            .anchorPoint {
                height: 100px;
            }

            ul {
                height: 200px;
                display: flex;
                justify-content: space-between;
                padding: 50px 0;

                li {
                    display: inline-block;
                    width: 20%;
                    height: 100%;
                    overflow: hidden;
                    // background-color: $backColor;
                    // margin: 0 20px 0 20px;

                    img {
                        width: 100%;
                    }
                }

                li:hover {
                    cursor: pointer;
                    // background: rgba(255, 192, 203, 0.3);
                }
            }
        }
/******************************************************************
    mainContent 종료
******************************************************************/

/******************************************************************
    bookroad 시작
******************************************************************/
        .introStreet {
            position: relative;
            width: 100%;
            height: 870px;
            background-color: $backColor;
            border-radius: 20px;
            box-shadow: 0 0 30px $contentColor;
            text-align: center;

            .anchorPoint {
                height: 100px;
            }

            span {
                font-size: 40px;
            }

            h1 {
                display: inline-block;
                height: 40px;
                text-align: center;
                line-height: 39px;
                font-size: 40px;
            }

            h3 {
                height: 20px;
                font-weight: 400;
                text-align: center;
                line-height: 19px;
                font-size: 20px;
                margin: 40px 0;
            }

            ul {
                position: relative;
                width: 1000px;
                height: 50px;
                margin: 50px auto;
                display: flex;
                justify-content: space-between;

                li {
                    position: relative;
                    width: 15%;
                    height: 100%;
                    line-height: 49px;
                    font-size: 15px;
                }

                li::after {
                    content: "▪▪▪";
                    font-size: 20px;
                    line-height: 49px;
                    color: whitesmoke;
                    position: absolute;
                    top: 0;
                    left: 100%;
                }

                li:last-child::after {
                    content: "";
                }

                li:first-child {
                    font-size: 18px;
                    color: pink;
                    line-height: 30px;
                }
            }

            .leftBtn {
                position: absolute;
                width: 50px;
                height: 50px;
                top: 490px;
                left: 5%;
                transform: translate(-50%,-50%);
                font-size: 50px;
                cursor: pointer;
                z-index: 10;
            }

            .rightBtn {
                position: absolute;
                width: 50px;
                height: 50px;
                top: 490px;
                right: 5%;
                transform: translate(50%,-50%);
                font-size: 50px;
                cursor: pointer;
            }

            .introBox {
                width: 80%;
                height: 500px;
                margin: 0 auto;
                background: rgba(0,0,0,0.3);
                box-shadow: 0 0 20px $backColor;
                border-radius: 20px;
                overflow: hidden;
                display: flex;

                .imageBox {
                    display: inline-block;
                    width: 50%;
                    height: 100%;
                    background: url("./img/bookRoad1.jpg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                .textWrap {
                    width: 50%;
                    height: 400px;
                    margin-top: 50px;
                    position: relative;
                
                    .textBox {
                        display: inline-block;
                        width: 90%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
    
                        h3 {
                            font-size: 22px;
                            margin: 0px 0 30px 0;
                        }
    
                        p {
                            font-size: 15px;
                            line-height: 30px;
                        }
    
                        h5 {
                            margin: 30px 0 30px 0;
                            font-size: 15px;
                            font-weight: 400;
                        }
    
                        i {
                            font-size: 30px;
                            margin-right: 10px;
                            transform: translate(0,8px);
                        }
    
                        a {
                            color: skyblue;
                            font-size: 15px;
                        }
                    }
                }

            }

            // h1::before {
            //     content: '"';
            //     color: #818181;
            //     font: {
            //         size: 80px;
            //     }
            //     margin-right: 30px;
            // }

            // h1::after {
            //     content: '"';
            //     color: #818181;
            //     font: {
            //         size: 80px;
            //     }
            //     margin-left: 30px;
            // }

            // p {
            //     width: 90%;
            //     height: 400px;
            //     font-size: 25px;
            //     margin: 0 auto;
            // }

            // ul {
            //     width: 90%;
            //     height: 33px;
            //     text-align: left;
            //     margin: 0 auto;

            //     li {
            //         display: inline-block;
            //         height: 100%;
            //         width: 50px;
            //         margin: 0 10px 0 10px;

            //         .transLang {
            //             margin-top: 30px;
            //             width: 50px;
            //             height: 33px;
            //             transition: all 0.5s;
            //         }

            //         .transLang:hover {
            //             cursor: pointer;
            //             transform: translate(0,-10px);
            //         }

            //     }
            // }
        }
/******************************************************************
    bookroad 종료
******************************************************************/

/******************************************************************
    introProgram 시작 ( 프로그램 안내 )
******************************************************************/
        .introProgram {
            width: 100%;
            height: 2400px;

            .anchorPoint {
                height: 100px;
            }

            h2 {
                height: 100px;
                line-height: 99px;
                margin-left: 50px;
                color: whitesmoke;
            }

            .winterFestival { //겨울빛 축제
                @include festivalIntro(left);
            }

            .winterFestival:hover {
                @include festivalIntroHover();
            }

            .writerdayFestival { //저자데이 책축제
                @include festivalIntro(right);

                img {
                    height: 600px;
                }
            }

            .writerdayFestival:hover {
                @include festivalIntroHover();
            }
            
            .wanseoFestival { //박완서의 집
                margin-top: 100px;
                @include festivalIntro(left);
            }

            .wanseoFestival:hover {
                @include festivalIntroHover();
            }

            .haetaeFestival { //해태 예술 조각전
                margin-top: 100px;
                @include festivalIntro(right);
            }

            .haetaeFestival:hover {
                @include festivalIntroHover();
            }
        }
/******************************************************************
    introProgram 종료
******************************************************************/

/******************************************************************
    introFAQ 시작
******************************************************************/
        .introFAQ {
            width: 100%;
            clear: both;

            .anchorPoint {
                height: 100px;
            }

            h2 {
                height: 100px;
                line-height: 99px;
                margin-left: 50px;
                color: whitesmoke;
            }
            
            ul {
                width: 90%;
                margin: 0 auto;

                li {
                    border-bottom: 3px solid $backColor;
                    width: 100%;
                    height: 80px;
                    line-height: 79px;
                    transition: background-color 1s;
                    font: {
                        size: 20px;
                        weight: 400;
                    }

                    i {
                        margin: 0 20px;
                    }
                }

                li:hover {
                    cursor: pointer;
                    color: whitesmoke;
                    font: {
                        size: 22px;
                        weight: bold;
                    }
                    background-color: $contentColor;
                }

                div {
                    display: none;
                    margin: 0 auto;
                    background: $backColor;

                    a {
                        color: powderblue;
                    }

                    p {
                        border-bottom: 5px solid whitesmoke;
                        font: {
                            size: 20px;
                        }
                        padding: 30px 50px 30px 50px;
                    }

                    img {
                        display: inline-block;
                        width: 100%;
                    }
                }
            }
        }
/******************************************************************
    introFAQ 종료
******************************************************************/

/******************************************************************
    introBook 시작
******************************************************************/
        .introBook {
            width: 100%;
            background: $backColor;
            margin-top: 100px;
            box-shadow: 0 0 30px $contentColor;
            border-radius: 20px;

            .anchorPoint {
                height: 100px;
            }

            h2 {
                height: 100px;
                line-height: 99px;
                margin-left: 50px;
                margin-bottom: 50px;
                color: whitesmoke;
            }

            img {
                display: block;
                margin: 0 auto;
            }

            p {
                width: 70%;
                margin: 50px auto;
                padding: 50px 50px;
                font: {
                    size: 18px;
                }
                color: #CCCCCC;
            }
        }
/******************************************************************
    introBook 종료
******************************************************************/

    }
/******************************************************************
    myContainer 종료
******************************************************************/

/******************************************************************
    myFooter 시작
******************************************************************/
    .myFooterWrap1 {
        width: 100%;
        height: 200px;
        border-top: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;

        p {
            width: 1200px;
            height: 100%;
            margin: 0 auto;
            text-align: center;
            line-height: 199px;
            font: {
                size: 40px;
                weight: bold;
            }
            color: #CCCCCC;
        }

        p:before {
            content: '"';
            // margin-right: 20px;
        }

        p:after {
            content: '"';
            // margin-left: 20px;
        }
    }

    .myFooterWrap2 {
        width: 100%;
        height: 250px;

        div {
            width: 1200px;
            height: 150px;
            margin: 50px auto;

            p {
                float: left;
                width: 50%;
                height: 100%;
                font: {
                    size: 12px;
                }
            }
        }

        h6 {
            color: #CCCCCC;
            width: 1200px;
            margin: 0 auto;
        }
    }
/******************************************************************
    myFooter 종료
******************************************************************/
}